<form action="/figures/new" method="POST">

  <p>Name: <input type="text" name="figure[name]" id="figure_name"></p>
  <%Title.all.each do |title|%>
    <p><input type="checkbox" name="figure[title_ids][]" id="<%=title.id%>" value="<%=title.name%>"></p>
  <%end%>
  <%Landmark.all.each do |landmark|%>
    <p><input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.name%>"></p>
  <%end%>
  <p>New Title: <input type="text" name="landmark[name]"></p>
  <p>New Landmark: <input type="text" name="title[name]"></p>

</form>
