<form action="/figures/new" method="POST">
  
  <p>Name: <input type="text" name="figure[name]"></p>
  <p>Title: <input type="text" name="figure[title_ids][]"></p>
  <p>Name: <input type="text" name="figure[name]"></p>
  <p>Name: <input type="text" name="figure[name]"></p>
  <p>Name: <input type="text" name="figure[name]"></p>
  
</form>