<h1>Create a New Figure</h1>

<form action="/figures" method="POST">
  <p>Name: <input type="text" name="figure[name]" id="figure_name"></p>

  <p>New Title: <input type="text" name="landmark[name]"></p>
  <p>New Landmark: <input type="text" name="title[name]"></p>
  <input type="submit" value="Create New Figure">
</form>
