<form action="/figures/new" method="POST">

  <p>Name: <input type="text" name="figure[name]"></p>
  <%Title.all.each do |title|%>
    <p><input type="checkbox" name="figure[title_ids][]" value="<%=title.name%>"></p>
  <%end%>
  <p>Landmark: <input type="text" name="figure[landmark_ids][]"></p>
  <p>New Title: <input type="text" name="landmark[name]"></p>
  <p>New Landmark: <input type="text" name="title[name]"></p>

</form>
