<h1><%=@figure.name%></h1>
<%@figure.landmarks.each do |landmark|%>
  <h3><%=landmark.name%></h3>
<%end%>
<%@figure.titles.each do |title|%>
  <h3><%=landmark.name%></h3>
<%end%>
<form action="/figures/<%=@figure.id%>/edit" method="get">
  <input type="submit" value="Edit Figure">
</form>
