<h1><%=@figure.name%></h1>
<h3><%=@figure.landmarks%></h3>
<h3><%=@figure.titles%></h3>
<form action="/figures/<%=@figure.id%>/edit" method="post">

  <input type="submit" value="Edit Figure">
</form>
